@import "normalize";

* {
    box-sizing: border-box;
}

body {
    padding: 1% 3% 1% 3%; 
    background: #fcfcfc;
}
.conteiner {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

.conteiner > * {
    -padding: 5px;
    flex: 1 100%;
}
/* Header "Vita tänder" */
.header {
    padding: 20px;
    text-align: left;
    background: rgb(219, 238, 238);
}

.header h1 {
    font-size: 50px;
}

/* Style nav */
.nav {
    overflow: hidden;
    background-color: rgb(109, 174, 235);
    border-radius:10px;
}
/*nav menu*/
.menu_item {
    display: inline-block;
    margin:0 5px;
}

/* Style nav links*/
.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    border-radius:10px;
}

.nav a:hover {
    background: rgb(219, 238, 238);
    color: black;
}

.image_banner {
    width: 100%;
}
.product {
    display: inline-flex;
    justify-content: center;
    word-wrap: break-word;
    overflow: hidden;
}
.product-item {
    float: left;
    display: block;
    max-height: 450px;
    width: 25%;
    padding: 5px;
    background: rgb(126, 203, 233);
    border-radius:5px;
    margin: 1px;  
}
.image_product {
    width: 75%;
    height: 75%;
}

.footer {
    padding: 50px;
    text-align: left;
    background: rgb(219, 238, 238);
}

.footer a {
    display: inline-block;
    text-align: left;
    padding: 10px 15px;
    text-decoration: none;
    border-radius:10px;
    color: black;
}
.footer a:hover {
    background: white;
    color: blue;
}

@media screen and (max-width: 1000px) {
.banner {   
    width: 100%;
    padding: 0;
}
.product {
    flex-wrap: wrap; 
}
.product-item{
    float: none;
    width: 48%;
}
}

@media screen and (max-width: 500px) {
.nav {
    float: none;
    width: 100%;
}
.product {
    flex-wrap: wrap; 
    margin: 0;
}
.product-item{
    width: 100%;
    max-height: 400px;
    padding: 0;
}
/*.image_product {
    width: 50%;
    height: 50%;
}*/
}